[Unit]
Description=tinyradio.net YouTube Stream (Now Playing + Clock)
After=network.target icecast2.service radio.service

[Service]
User=gavinadamsdev
Group=gavinadamsdev
WorkingDirectory=/home/gavinadamsdev

ExecStart=/usr/bin/ffmpeg -stream_loop -1 -re -i /home/gavinadamsdev/radio>

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target